//- About me

.row
    figure.col-sm-4: img(src="img/profile.jpg")

    p.col-sm-8.
        Tony is an #[abbr(title="Electrical Engineering and Computer Science") EECS] graduate student
        working with Professor Baldo at 
        #[a(href="http://www.mit.edu/", target="_blank") MIT] 
        in the #[a(href="http://softsemi.mit.edu/") Softsemiconductor Group].
        He received a B.S. in both Electrical Engineering and Physics from 
        #[a(href="http://www.ntu.edu.tw/", target="_blank") National Taiwan University] in 2011.
        Outside research, Tony is also interested in snowboarding, swimming and coding.
        
