//- Research Page


p.description
    My current research focuses on thermally activated delayed fluorescence (TADF)
    #[abbr(title="organic light-emitting device") OLED] materials.
    I have also worked on singlet fission in organic photovoltaics.
    During undergraduate, my research was mainly on dye-sensitized solar cell.
    
br
br

.row
    figure.col-sm-4
        img.border-img(src="img/tadf.png")
        figcaption From Adachi, Nature (2012)
        
    .col-sm-8.description
        | #[b #[abbr(title="thermally activated delatyed fluorescence") TADF]] is a process in organic molecules, especially in OLED materials, that triplet exciton states can thermally activated back to singlet exciton states and then fluoresce. TADF process is usually weak and ineffecient, but recent #[a(href="http://www.nature.com/nature/journal/v492/n7428/full/nature11687.html", target="_blank") papers] had shown efficient TADF on carefully designed molecules, with efficiencies on par with phosphorescence OLED (~20%). TADF has open up possibilities for new OLED material designs. Our goal is to find efficient blue OLED emitter with automated molecules generation and machine learning.
        
        br
        br
        
        | Publications:
        ul
            li Katsuaki Kawasumi, #[b Tony Wu], Tianyu Zhu, Hyun Sik Chae, Troy Van Voorhis, Marc A Baldo, Timothy M Swager. Thermally Activated Delayed Fluorescence Materials Based on Homoconjugation Effect of Donor-Acceptor Triptycenes. Journal of the American Chemical Society, (2015)
        

br
br

.row
    figure.col-sm-4
        img.border-img(src="img/sf.png")
        figcaption: a(href="", target="_blank") From Wu et al., APL (2014)
        
    .col-sm-8.description
        | #[b Singlet Fission] in organic semiconductor is a phenomenon that a singlet exciton dissociates into two triplet excitons. The process is very efficient due to fast singlet fission rate and spin dependence transition. By pairing singlet fission materials with suitable low bandgap energy materials, the conversion efficiency of the photovoltaic cell could potentially exceed Shockley-Queisser limit. My research on singlet fission is to understand its mechanism and singlet fission efficiency in tetracene.
        
        br
        br
        
        | Publications:
        ul
            li #[b Tony C Wu], Nicholas J Thompson, Daniel N Congreve, Eric Hontz, Shane R Yost, Troy Van Voorhis, Marc A Baldo. Singlet fission efficiency in tetracene-based organic solar cells. Applied Physics Letters 104, 193901 (2014).
            li Shane R Yost, Jiye Lee, Mark WB Wilson, #[b Tony Wu], David P McMahon, Rebecca R Parkhurst, Nicholas J Thompson, Daniel N Congreve, Akshay Rao, Kerr Johnson, Matthew Y Sfeir, Moungi G Bawendi, Timothy M Swager, Richard H Friend, Marc A Baldo, Troy Van Voorhis A transferable model for singlet-fission kinetics. Nature chemistry 6, 492-497 (2014).
        
    
br
br

.row
    figure.col-sm-4
        img.border-img(src="img/uc.png")
        figcaption: a(href="http://scitation.aip.org/content/aip/journal/apl/107/3/10.1063/1.4926914", target="_blank") From Wu et al., APL (2015)
        
    .col-sm-8.description
        | #[b Optical Upconversion] is a mechanism for emitting light with energy higher than the incident light. We utilize the reverse process of singlet fission known as triplet-triplet annihilation and TADF as a triplet generation. The combined results in optical upconversion.
        
        br
        br
        
        | Publications:
        ul
            li #[b Tony C Wu], Daniel N Congreve, Marc A Baldo. Solid state photon upconversion utilizing thermally activated delayed fluorescence molecules as triplet sensitizer. Applied Physics Letters 107, 031103 (2015).
        
            
        
