//- Include css
//- using the default bootstrap style and font awesome
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,500' rel='stylesheet')
meta(name="viewport", content="width=device-width, initial-scale=2, user-scalable=no")
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

//- Bootstrap & jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js")
script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

//- own scripts
script(src="js/jquery.easing.1.3.js")
link(href="css/main.css" rel='stylesheet')
script(src="js/change.js")
script(src="js/scrolling-nav.js")
